@{
    <Name>@ViewData["Name"]-Home Page</Name> 
}

<div class="container text-center" style="margin-top:30px">
    <h2 class="display-4">Welcome Back!</h2>
</div>

<div class="container col-sm-4" style="margin-top:30px">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <div class= "text-center">
                    <dt><strong>Home Office</strong></dt>
                    <dd>
                        <br>
                    </dd>
                </div>
                <div class= "text-center">  
                    <dt><strong>Status</strong></dt>
                    <dd>
                        <br>
                    </dd>
                    <small id="Office ID" class="form-text text-muted">Search for offices using the search tool above, or select one of the other options from the menu.</small>
                 </div>    
            </div>
        </div>
            <button type="button" class="btn btn-primary btn-lg" style= "margin-top:30px" > Details</button>
    </div>
   